{% extends "travelapp/base_customer_payment.html"%}
{% block body_block %}
{% load crispy_forms_tags %}
    <div class="signupOne">
        <div class="title">Travel Nepal</div>
        <div class="sub-title">Your Favourite Travel Hub.</div><br>
        <div class="stepone"> Fill The Form </div>
        <div class="stepone"> Update Your Data </div>
        <div class="form">
            <form method="POST"enctype="multipart/form-data">
                <div class="row">                  
                    <div>
                        {%csrf_token%}
                        {{ form|crispy }}
                    </div>
            </form>
            <div>
            <input type="submit" class="btn btn-primary" id= "book_create_submit" value="Update">
            </div>
    </div>

{% endblock %}