{% extends "travelapp/base_customer_payment.html"%}
{% block body_block %}

<div class="listView">
  {% if user.is_authenticated and user.is_superuser %}
  <h3> All Users Name  and Email</h3>
  <table>  
  <tr>
          <th> username</th>
          <th>&#160;
            &#160;
            &#160;
            &#160;
            email</th>
        </tr>  
  {% for x in list%}  
<tr>
  <td>{{x.username}}</td>  
  <td>&#160;
    &#160;
    &#160;
    {{x.email}}</td>
</tr>
{% endfor %}
</table>
        {% elif user.is_authenticated%}
  <h3> Customer cannot look! </h3>
  {% else %}
  <h3> anonymous user cannot view this section!</h3>
  {% endif %}
</div>
{% endblock %}  